{% load static %}

<section class="delivery pt-xs-80 pb-sm-100 pt-md-100 pt-120 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="delivery__content mb-65 mb-md-60 mb-sm-50 mb-xs-40 text-center">
                    <h2 class="title">From Strategy to Delivery <span>On Time Every Time</span></h2>
                </div>

                <div class="delivery__media">
                    <img src="{% static 'assets/img/home-3/delivery.png' %}" class="img-fluid" alt="">

                    <div class="delivery__media-theme-btn-wrapper">
                        <a href="https://www.youtube.com/watch?v=9xwazD5SyVg" class="popup-video" data-effect="mfp-move-from-top"><img src="{% static 'assets/img/icon/play-transparent.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
