{% load static %}
<!-- employee-friendly start -->
<section class="employee-friendly pt-xs-80 pt-sm-100 pt-md-100 pt-120 overflow-hidden">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-9">
                <div class="employee-friendly__content">
                    <span class="sub-title fw-500 color-primary text-uppercase mb-sm-10 mb-xs-5 mb-15 d-block"><img src="{% static 'assets/img/team-details/badge-line.svg' %}" class="img-fluid mr-10" alt=""> Services</span>
                    <h2 class="title color-d_black">Employee Friendly <span>Service</span></h2>
                </div>
            </div>

            <div class="col-sm-3">
               <div class="slider-controls mt-sm-30">
                    <div class="slider-arrows d-flex align-content-center justify-content-sm-end"></div>
               </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="employee-friendly__slider mt-65 mt-md-50 mt-sm-40 mt-xs-30">
                    <div class="slider-item">
                        <div class="similar-work__item reade-more-hidden d-flex justify-content-between flex-column">
                            <div class="top d-flex align-items-center">
                                <div class="icon color-white text-center">
                                    <i class="fal fa-analytics"></i>
                                </div>

                                <h4 class="title color-d_black"><a href="{% url 'services' %}">Finance &amp; Strategy Service</a></h4>
                            </div>

                            <div class="bottom">    
                                <div class="media overflow-hidden">
                                    <img src="{% static 'assets/img/services/services-2.png' %}" class="img-fluid" alt="">
                                </div>
                                
                                <a href="{% url 'services' %}" class="theme-btn text-center fw-600">Read Details <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Repeat this block for each slider-item -->
                    <div class="slider-item">
                        <div class="similar-work__item reade-more-hidden d-flex justify-content-between flex-column">
                            <div class="top d-flex align-items-center">
                                <div class="icon color-white text-center">
                                    <i class="icon-planning"></i>
                                </div>

                                <h4 class="title color-d_black"><a href="{% url 'services' %}">Business Planning, Strategy &amp; Execution</a></h4>
                            </div>

                            <div class="bottom">    
                                <div class="media overflow-hidden">
                                    <img src="{% static 'assets/img/project-details/project-details-2.png' %}" class="img-fluid" alt="">
                                </div>
                                
                                <a href="{% url 'services' %}" class="theme-btn text-center fw-600">Read Details <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="slider-item">
                        <div class="similar-work__item reade-more-hidden d-flex justify-content-between flex-column">
                            <div class="top d-flex align-items-center">
                                <div class="icon color-white text-center">
                                    <i class="icon-outline"></i>
                                </div>

                                <h4 class="title color-d_black"><a href="{% url 'services' %}">Financial Projections And Analysis</a></h4>
                            </div>

                            <div class="bottom">    
                                <div class="media overflow-hidden">
                                    <img src="{% static 'assets/img/project-details/project-details-3.png' %}" class="img-fluid" alt="">
                                </div>
                                
                                <a href="{% url 'services' %}" class="theme-btn text-center fw-600">Read Details <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Repeat this block for each slider-item -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- employee-friendly end -->
