{% load static %}
<!-- our-team start -->
<section class="our-team our-team-home-3 pb-xs-80 pt-xs-80 pt-sm-100 pb-sm-100 pt-md-100 pb-md-100 pt-120 pb-120 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="our-team__content mb-65 mb-md-50 mb-sm-40 mb-xs-30 text-center">
                    <span class="sub-title fw-500 color-primary text-uppercase mb-sm-10 mb-xs-5 mb-15 d-block"><img src="{% static 'assets/img/team-details/badge-line.svg' %}" class="img-fluid mr-10" alt=""> Our Team</span>
                    <h2 class="title color-d_black">Meet Our Team <span>Member</span></h2>
                </div>
            </div>
        </div>

        <div class="row mb-minus-30">
            <div class="col-xxl-3 col-lg-4 col-md-6">
                <a href="{% url 'team_details' %}" class="team-item team-about-item text-center mb-30 d-block overflow-hidden">
                    <div class="media">
                        <img src="{% static 'assets/img/about/about-member-1.png' %}" class="img-fluid" alt="">
                    </div>

                    <div class="text d-flex align-items-center justify-content-center">
                        <div class="left">
                            <h5 class="title color-white">Stephen Larry</h5>
                            <span class="position color-white font-la fw-500">Product Manager</span>
                        </div>

                        <div class="right">
                            <div class="icon">
                                <i class="icon-arrow-right-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div><!-- team-item -->

            <div class="col-xxl-3 col-lg-4 col-md-6">
                <a href="{% url 'team_details' %}" class="team-item team-about-item text-center mb-30 d-block overflow-hidden">
                    <div class="media">
                        <img src="{% static 'assets/img/about/about-member-2.png' %}" class="img-fluid" alt="">
                    </div>

                    <div class="text d-flex align-items-center justify-content-center">
                        <div class="left">
                            <h5 class="title color-white">Nusrat Jahan</h5>
                            <span class="position color-white font-la fw-500">Assistant Manager, Finance</span>
                        </div>

                        <div class="right">
                            <div class="icon">
                                <i class="icon-arrow-right-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div><!-- team-item -->

            <div class="col-xxl-3 col-lg-4 col-md-6">
                <a href="{% url 'team_details' %}" class="team-item team-about-item text-center mb-30 d-block overflow-hidden">
                    <div class="media">
                        <img src="{% static 'assets/img/about/about-member-3.png' %}" class="img-fluid" alt="">
                    </div>

                    <div class="text d-flex align-items-center justify-content-center">
                        <div class="left">
                            <h5 class="title color-white">Sarah Johnson</h5>
                            <span class="position color-white font-la fw-500">Marketing Specialist</span>
                        </div>

                        <div class="right">
                            <div class="icon">
                                <i class="icon-arrow-right-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div><!-- team-item -->

            <div class="col-xxl-3 col-lg-4 col-md-6">
                <a href="{% url 'team_details' %}" class="team-item team-about-item text-center mb-30 d-block overflow-hidden">
                    <div class="media">
                        <img src="{% static 'assets/img/about/about-member-4.png' %}" class="img-fluid" alt="">
                    </div>

                    <div class="text d-flex align-items-center justify-content-center">
                        <div class="left">
                            <h5 class="title color-white">John Doe</h5>
                            <span class="position color-white font-la fw-500">Project Manager</span>
                        </div>

                        <div class="right">
                            <div class="icon">
                                <i class="icon-arrow-right-2"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div><!-- team-item -->
        </div>

        <div class="row">
            <div class="col-12">
                <div class="our-team__btn-wrapper text-center mt-70 mt-md-50 mt-sm-40 mt-xs-30">
                    <a href="{% url 'team' %}" class="theme-btn">See All Members <i class="far fa-chevron-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our-team end -->
