{% load static %}

<!-- team-area start -->
<section class="team pb-xs-80 pt-xs-80 pt-sm-100 pb-sm-100 pt-md-100 pb-md-100 pt-120 pb-115 overflow-hidden">
    <div class="container">
        <div class="row mb-minus-30">
            <div class="col-xxl-3 col-lg-4 col-md-6">
                <div class="team-item text-center mb-30 d-block overflow-hidden">
                    <div class="media">
                        <img src="{% static 'assets/img/team/team-item-1.jpg' %}" class="img-fluid" alt="">
                    </div>

                    <div class="text d-flex align-items-center justify-content-center">
                        <div class="left">
                            <h5 class="title color-white">Stephen Larry</h5>
                            <span class="position color-white font-la fw-500">Product Manager</span>
                        </div>
                    </div>

                    <a href="{% url 'team_details' %}" class="theme-btn">View Details <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div><!-- team-item -->

            <div class="col-xxl-3 col-lg-4 col-md-6">
                <div class="team-item text-center mb-30 d-block overflow-hidden">
                    <div class="media">
                        <img src="{% static 'assets/img/team/team-item-2.jpg' %}" class="img-fluid" alt="">
                    </div>

                    <div class="text d-flex align-items-center justify-content-center">
                        <div class="left">
                            <h5 class="title color-white">Nusrat Jahan</h5>
                            <span class="position color-white font-la fw-500">Assistant Manager, Finance</span>
                        </div>
                    </div>

                    <a href="{% url 'team_details' %}" class="theme-btn">View Details <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div><!-- team-item -->

            <div class="col-xxl-3 col-lg-4 col-md-6">
                <div class="team-item text-center mb-30 d-block overflow-hidden">
                    <div class="media">
                        <img src="{% static 'assets/img/team/team-item-3.jpg' %}" class="img-fluid" alt="">
                    </div>

                    <div class="text d-flex align-items-center justify-content-center">
                        <div class="left">
                            <h5 class="title color-white">Richard Paul</h5>
                            <span class="position color-white font-la fw-500">Business Consulting</span>
                        </div>
                    </div>

                    <a href="{% url 'team_details' %}" class="theme-btn">View Details <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div><!-- team-item -->

            <div class="col-xxl-3 col-lg-4 col-md-6">
                <div class="team-item text-center mb-30 d-block overflow-hidden">
                    <div class="media">
                        <img src="{% static 'assets/img/team/team-item-4.jpg' %}" class="img-fluid" alt="">
                    </div>

                    <div class="text d-flex align-items-center justify-content-center">
                        <div class="left">
                            <h5 class="title color-white">Elizabeth Linda</h5>
                            <span class="position color-white font-la fw-500">Consultant Agency</span>
                        </div>
                    </div>

                    <a href="{% url 'team_details' %}" class="theme-btn">View Details <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div><!-- team-item -->

            <div class="col-xxl-3 col-lg-4 col-md-6">
                <div class="team-item text-center mb-30 d-block overflow-hidden">
                    <div class="media">
                        <img src="{% static 'assets/img/team/team-item-5.jpg' %}" class="img-fluid" alt="">
                    </div>

                    <div class="text d-flex align-items-center justify-content-center">
                        <div class="left">
                            <h5 class="title color-white">Stephen Larry</h5>
                            <span class="position color-white font-la fw-500">Product Manager</span>
                        </div>
                    </div>

                    <a href="{% url 'team_details' %}" class="theme-btn">View Details <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div><!-- team-item -->

            <div class="col-xxl-3 col-lg-4 col-md-6">
                <div class="team-item text-center mb-30 d-block overflow-hidden">
                    <div class="media">
                        <img src="{% static 'assets/img/team/team-item-6.jpg' %}" class="img-fluid" alt="">
                    </div>

                    <div class="text d-flex align-items-center justify-content-center">
                        <div class="left">
                            <h5 class="title color-white">Nusrat Jahan</h5>
                            <span class="position color-white font-la fw-500">Assistant Manager, Finance</span>
                        </div>
                    </div>

                    <a href="{% url 'team_details' %}" class="theme-btn">View Details <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div><!-- team-item -->

            <div class="col-xxl-3 col-lg-4 col-md-6">
                <div class="team-item text-center mb-30 d-block overflow-hidden">
                    <div class="media">
                        <img src="{% static 'assets/img/team/team-item-7.jpg' %}" class="img-fluid" alt="">
                    </div>

                    <div class="text d-flex align-items-center justify-content-center">
                        <div class="left">
                            <h5 class="title color-white">Richard Paul</h5>
                            <span class="position color-white font-la fw-500">Business Consulting</span>
                        </div>
                    </div>

                    <a href="{% url 'team_details' %}" class="theme-btn">View Details <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div><!-- team-item -->

            <div class="col-xxl-3 col-lg-4 col-md-6">
                <div class="team-item text-center mb-30 d-block overflow-hidden">
                    <div class="media">
                        <img src="{% static 'assets/img/team/team-item-8.jpg' %}" class="img-fluid" alt="">
                    </div>

                    <div class="text d-flex align-items-center justify-content-center">
                        <div class="left">
                            <h5 class="title color-white">Elizabeth Linda</h5>
                            <span class="position color-white font-la fw-500">Consultant Agency</span>
                        </div>
                    </div>

                    <a href="{% url 'team_details' %}" class="theme-btn">View Details <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div><!-- team-item -->
        </div>

        <div class="row">
            <div class="col-12">
                <div class="team__content text-center mt-xs-35 mt-sm-40 mt-md-50 mt-lg-60 mt-80">
                    <h6 class="title fw-500 color-black">Consulting With Our Expert Team Members: <a href="#">Schedule Meeting <i class="fab fa-telegram-plane"></i></a></h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team-area end -->
