{% load static %}
<!-- team-area start -->
<section class="blog pb-xs-80 pt-xs-80 pt-sm-100 pb-sm-100 pt-md-100 pb-md-100 pt-120 pb-115 overflow-hidden">
    <div class="container">
        <div class="row mb-minus-30">

            <!-- Blog Item 1 -->
            <div class="col-xl-4 col-md-6 col-12">
                <div class="blog-item mb-30">
                    <div class="blog-featured-thumb mb-xs-30 mb-sm-30 mb-md-35 mb-lg-40 mb-50">
                        <div class="media overflow-hidden">
                            <img src="{% static 'assets/img/blog/blog-1.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="date">
                            <span>27</span>
                            <span>Jun</span>
                            <span>2020</span>
                        </div>
                    </div>
                    <div class="content pr-sm-25 pr-xs-15 pl-xs-15 pl-sm-25 pr-xs-15 pr-30 pb-30 pl-30">
                        <div class="post-author mb-5">
                            <a href="blog-details.html">Business, Consulting</a>
                        </div>
                        <h4><a href="blog-details.html">Consulted admitting wooded is power acuteness</a></h4>
                        <div class="btn-link-share mt-xs-10 mt-sm-10 mt-15">
                            <a href="blog-details.html" class="theme-btn btn-border">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Blog Item 2 -->
            <div class="col-xl-4 col-md-6 col-12">
                <div class="blog-item mb-30">
                    <div class="blog-featured-thumb mb-xs-30 mb-sm-30 mb-md-35 mb-lg-40 mb-50">
                        <div class="media overflow-hidden">
                            <img src="{% static 'assets/img/blog/blog-2.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="date">
                            <span>30</span>
                            <span>April</span>
                            <span>2021</span>
                        </div>
                    </div>
                    <div class="content pr-sm-25 pr-xs-15 pl-xs-15 pl-sm-25 pr-xs-15 pr-30 pb-30 pl-30">
                        <div class="post-author mb-5">
                            <a href="blog-details.html">Business</a>
                        </div>
                        <h4><a href="blog-details.html">The 3 Most Effective Incentives for Employees</a></h4>
                        <div class="btn-link-share mt-xs-10 mt-sm-10 mt-15">
                            <a href="blog-details.html" class="theme-btn btn-border">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Blog Item 3 -->
            <div class="col-xl-4 col-md-6 col-12">
                <div class="blog-item mb-30">
                    <div class="blog-featured-thumb mb-xs-30 mb-sm-30 mb-md-35 mb-lg-40 mb-50">
                        <div class="media overflow-hidden">
                            <img src="{% static 'assets/img/blog/blog-3.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="date">
                            <span>24</span>
                            <span>Sept</span>
                            <span>2022</span>
                        </div>
                    </div>
                    <div class="content pr-sm-25 pr-xs-15 pl-xs-15 pl-sm-25 pr-xs-15 pr-30 pb-30 pl-30">
                        <div class="post-author mb-5">
                            <a href="blog-details.html">Consulting</a>
                        </div>
                        <h4><a href="blog-details.html">How To Achieve Success As A New Consultant</a></h4>
                        <div class="btn-link-share mt-xs-10 mt-sm-10 mt-15">
                            <a href="blog-details.html" class="theme-btn btn-border">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Continue the pattern for other blog items -->

        </div>
    </div>
</section>
<!-- team-area end -->
