{% load static %}
<section class="similar-work services-work bg-dark_white pb-xs-80 pt-xs-80 pt-sm-100 pb-sm-100 pt-md-100 pb-md-100 pt-120 pb-120 overflow-hidden">
    <div class="container">
        <div class="row mb-minus-30">
            <div class="col-lg-4 col-md-6">
                <div class="similar-work__item mb-30 d-flex justify-content-between flex-column">
                    <div class="top d-flex align-items-center">
                        <div class="icon color-white text-center">
                            <i class="icon-groth"></i>
                        </div>
                        <h4 class="title color-d_black"><a href="{% url 'services_details' %}">Finance & Strategy Service</a></h4>
                    </div>
                    <div class="bottom">    
                        <div class="media overflow-hidden">
                            <img src="{% static 'assets/img/services/services-1.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="text pt-30 pr-30 pb-30 pl-30 pt-sm-20 pt-xs-15 pr-sm-20 pr-xs-15 pb-sm-20 pb-xs-15 pl-sm-20 pl-xs-15 font-la">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
                        </div>
                        <a href="{% url 'services_details' %}" class="theme-btn text-center fw-600">Discover More <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="similar-work__item mb-30 d-flex justify-content-between flex-column">
                    <div class="top d-flex align-items-center">
                        <div class="icon color-white text-center">
                            <i class="icon-planning"></i>
                        </div>
                        <h4 class="title color-d_black"><a href="{% url 'services_details' %}">Business Planning, Strategy & Execution</a></h4>
                    </div>
                    <div class="bottom">    
                        <div class="media overflow-hidden">
                            <img src="{% static 'assets/img/project-details/project-details-2.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="text pt-30 pr-30 pb-30 pl-30 pt-sm-20 pt-xs-15 pr-sm-20 pr-xs-15 pb-sm-20 pb-xs-15 pl-sm-20 pl-xs-15 font-la">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
                        </div>
                        <a href="{% url 'services_details' %}" class="theme-btn text-center fw-600">Discover More <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="similar-work__item mb-30 d-flex justify-content-between flex-column">
                    <div class="top d-flex align-items-center">
                        <div class="icon color-white text-center">
                            <i class="icon-outline"></i>
                        </div>
                        <h4 class="title color-d_black"><a href="{% url 'services_details' %}">Financial Projections And Analysis</a></h4>
                    </div>
                    <div class="bottom">    
                        <div class="media overflow-hidden">
                            <img src="{% static 'assets/img/project-details/project-details-3.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="text pt-30 pr-30 pb-30 pl-30 pt-sm-20 pt-xs-15 pr-sm-20 pr-xs-15 pb-sm-20 pb-xs-15 pl-sm-20 pl-xs-15 font-la">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
                        </div>
                        <a href="{% url 'services_details' %}" class="theme-btn text-center fw-600">Discover More <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="similar-work__item mb-30 d-flex justify-content-between flex-column">
                    <div class="top d-flex align-items-center">
                        <div class="icon color-white text-center">
                            <i class="icon-groth"></i>
                        </div>
                        <h4 class="title color-d_black"><a href="{% url 'services_details' %}">Digital Consulting, Business</a></h4>
                    </div>
                    <div class="bottom">    
                        <div class="media overflow-hidden">
                            <img src="{% static 'assets/img/services/services-2.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="text pt-30 pr-30 pb-30 pl-30 pt-sm-20 pt-xs-15 pr-sm-20 pr-xs-15 pb-sm-20 pb-xs-15 pl-sm-20 pl-xs-15 font-la">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
                        </div>
                        <a href="{% url 'services_details' %}" class="theme-btn text-center fw-600">Discover More <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="similar-work__item mb-30 d-flex justify-content-between flex-column">
                    <div class="top d-flex align-items-center">
                        <div class="icon color-white text-center">
                            <i class="icon-planning"></i>
                        </div>
                        <h4 class="title color-d_black"><a href="{% url 'services_details' %}">Financial Modeling and Analytics</a></h4>
                    </div>
                    <div class="bottom">    
                        <div class="media overflow-hidden">
                            <img src="{% static 'assets/img/services/services-3.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="text pt-30 pr-30 pb-30 pl-30 pt-sm-20 pt-xs-15 pr-sm-20 pr-xs-15 pb-sm-20 pb-xs-15 pl-sm-20 pl-xs-15 font-la">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
                        </div>
                        <a href="{% url 'services_details' %}" class="theme-btn text-center fw-600">Discover More <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="similar-work__item mb-30 d-flex justify-content-between flex-column">
                    <div class="top d-flex align-items-center">
                        <div class="icon color-white text-center">
                            <i class="icon-outline"></i>
                        </div>
                        <h4 class="title color-d_black"><a href="{% url 'services_details' %}">Project Management & Analysis</a></h4>
                    </div>
                    <div class="bottom">    
                        <div class="media overflow-hidden">
                            <img src="{% static 'assets/img/project-details/project-details-1.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="text pt-30 pr-30 pb-30 pl-30 pt-sm-20 pt-xs-15 pr-sm-20 pr-xs-15 pb-sm-20 pb-xs-15 pl-sm-20 pl-xs-15 font-la">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
                        </div>
                        <a href="{% url 'services_details' %}" class="theme-btn text-center fw-600">Discover More <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
